<nav class="navar navbar-expand navbar-dark bg-dark fixed-top">  
  <div class="container">
    <div class="collapse navbar-collapse">
        <h3>
          <a class="navbar-brand" [routerLink]="['/home']">CRUD Películas</a>          
        </h3>      
        <ul class="navbar-nav ml-auto">
          <li routerLinkActive="active" class="nav-item" id="linkHome">
            <a  class="nav-link" [routerLink]="['/home']"><strong>Inicio</strong></a>            
          </li>
          <li routerLinkActive="active" class="nav-item" id="linkAdd">
            <a class="nav-link" [routerLink]="['/add']"><strong>Agregar</strong></a>
          </li>        
        </ul>
    </div>
  </div>
</nav>

